*.hi
*.o
*_hsc.[ch]
*~
*.sw?
/Data/IterIO/ZlibInt.hs
/Examples/fgrep
/Examples/httpEcho
/Examples/httptest
/Examples/pong
/Examples/reliable/reference
/Examples/reliable/tester
/Examples/simple
/Examples/zpipe
/Setup
/dist
